* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* ********* Common CSS ********* */
.container {
    max-width: 1320px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.common_btn {
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 12px 42px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
}

/* ********* Navbar Section ********* */
.navbar_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #575757;
}

/* ********* Banner Section ********* */
.banner_section {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner_content h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -3.2px;
    padding: 136px 0 16px 0;
}

.banner_content p {
    font-size: 22px;
    line-height: 24px;
    width: 829px;
    margin-bottom: 278px;
}

.banner_btn {
    padding: 25px 63px;
    margin-bottom: 79px;
    font-size: 24px;
}

/* ********* Speakers Section ********* */
.speakers_container h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 65px;
    text-align: center;
    margin: 80px 0 56px 0;
}

.speakers_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.speakers_card {
    border: 1px solid #dddddd;
    border-radius: 12px;
    width: 644px;
    margin-bottom: 32px;
}

.speakers_card img {
    border-radius: 12px 12px 0 0;
}

.speakers_details {
    background-color: white;
    text-align: left;
    padding-left: 24px;
}

.speakers_role {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #2563EB;
    padding: 24px 0 8px 0px;
}

.speakers_name {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #0D1B2A;
    padding-bottom: 8px;
}

.speakers_company {
    font-size: 14px;
    line-height: 21px;
    color: #575757;
    padding-bottom: 24px;
}